/01-Aula-Operadores/nbproject/private/
/01-Aula-Operadores/build/
/01-Aula-Operadores/dist/
/01-Aula-Operadores/NumeroAnterior/nbproject/private/
/01-Aula-Operadores/Número Anterior/nbproject/private/
/01-Aula-Operadores/Número Anterior/build/
/01-Aula-Operadores/Retângulo/nbproject/private/
/01-Aula-Operadores/Numero_Anterior/nbproject/private/
/Numero_Anterior/nbproject/private/
/Numero_Anterior/build/
/Retangulo/nbproject/private/
/Retangulo/build/
/JavaApplication9/nbproject/private/
/Idade/nbproject/private/
/Idade/build/
/Número de Eleitores/nbproject/private/
/Numero_de_Eleitores/nbproject/private/
/Numero_de_Eleitores/build/
/Temperatura/nbproject/private/
/Temperatura/build/
/AtividadeFinal/nbproject/private/
/AtividadeFinal/build/
